h1{
    color: blue;
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
i{
    color: brown;
}